.hero-section{
  padding-top: 310px;
  padding-bottom: 150px;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}