.hero-section{
  position: relative;
  z-index: 1;
  padding-top: 315px;
  padding-bottom: 147px;
  background-color: transparent;
}

.hero-section__container{
  display: flex;
  flex-direction: column;
}

.hero-section__list{
  @include reset-list;
  margin-bottom: 135px;
}

.hero-section__btn-wrapper{
  display: flex;
}

.hero-section__btn{
  display: inline-block;
  height: 70px;
  width: 70px;
  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: $yellow;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  
  & + .hero-section__btn{
    margin-left: 9px;
  }

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }
}

.hero-section__btn--prev{
  width: 42px;
  background-image: url("../img/prev-btn.svg");
}

.hero-section__btn--next{
  background-image: url("../img/next-btn.svg");
}

@include breakpoint-down (905px){
  .hero-section{
    padding-top: 279px;
  }
}

@include breakpoint-down (750px){
  .hero-section{
    padding-top: 0;
    padding-bottom: 25px;
  }

  .hero-section__btn-wrapper{
    position: absolute;
    z-index: 2;
    top: 580px;
    left: 40px;
  }

  .hero-section__btn{
    width: 44px;
    height: 44px;

    & + .hero-section__btn{
      margin-left: 6px;
    }
  }

  .hero-section__btn--prev{
    width: 27px;
  }
}
